.dimmed {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100vh;
  display: none
}

.back-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  width: 100%;
  height: 100%;
  background-image: url("../images/back-modal.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  align-items: center;
  justify-content: center;

  &.on {
    display: flex;

    .close_search {
      &::before {
        content: "";
        position: absolute;
        left: 5px;
        top: 9px;
        font-size: 0;
        background: url("../images/close_search.png") no-repeat center / 10px auto;
        width: 10px;
        height: 18px;
        padding: 18px 4.17%;
      }
    }

  }


  input {
    display: block;
    width: 80%;
    margin: 0 auto;
    background: transparent;
    border: none;
    color: #fff;
    padding-bottom: 10px;
    border-bottom: 1px solid #fff;

    &::placeholder {
      color: #fff;
      font-size: 20px;
      font-weight: 300;
      line-height: 43px;
      letter-spacing: -0.5px;

    }

    &:after {
      content: "";
      display: block;
      width: 19px;
      height: 19px;
      background: url("../images/search.png") no-repeat center /contain;
    }

  }
}

.header {
  position: fixed;
  top: 40px;
  left: 0;
  right: 0;
  background-color: transparent;
  z-index: 2;
  overflow: hidden;

  &.scrollTop {
    top: 0;
    background: #fff;

    .top {
      svg {
        path {
          fill: #000
        }
      }
    }

    .bottom {
      display: block;
    }
  }

  .top {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    padding: 19.5px 15px;

    .logo {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      a {
        display: block;
        width: 87px;
        height: 23px;
      }
    }

    .group-flex {
      display: flex;
      justify-content: center;
      gap: 17px;

      .burgerBtn {
        width: 22px;
        height: 18px;
      }

      .search {
        display: block;
        width: 17px;
        height: 18px;
      }

      .link-bag {
        display: inline-block;
        width: 19px;
        height: 18px;
        position: relative;

        .count {
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          width: 16px;
          height: 16px;
          background: #000;
          border-radius: 100%;
          top: -4px;
          left: 13px;
          font-size: 12px;
          color: #fff;
          font-weight: bold;
        }

      }

      .link-my {
        display: inline-block;
        width: 18px;
        height: 18px;
      }
    }
  }

  .bottom {
    position: relative;
    display: none;

    ul {
      li {
        &:nth-child(1) {
          a {}
        }
      }
    }

    .best-menu {
      display: flex;
      flex-direction: column;
      padding: 10px 15px;
      height: 43px;
      position: relative;

      &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 30px;
        z-index: 1;
        width: 26px;
        height: 100%;
        background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
        pointer-events: none;
      }

      &-list {
        display: flex;
        gap: 10px;
        width: calc(100% - 16px);
        overflow-x: auto;
        -ms-overflow-style: none;
        scrollbar-width: none;
        line-height: 23px;

        &::-webkit-scrollbar {
          display: none;
        }
      }

      &-item {
        .link-season {
          color: #E55427;
        }

        .point {
          display: flex;
          gap: 2px;

          &::after {
            content: "";
            margin-top: 3px;
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background: #ee5728;
          }
        }
      }
    }

    &.show {
      .best-menu-list {
        display: none;
      }

      .all-title {
        display: block;
      }
    }

    .all {
      &-menu {
        display: none;
        background: #F6F6F6;
        border-top: 1px solid #dcdcdc;

        &-list {
          display: flex;
          flex-wrap: wrap;
          gap: 6px;
          padding: 11px 20px 11px 12px;
        }

        &-item {
          a {
            display: block;
            border-radius: 100px;
            border: 1px solid #ebebeb;
            padding: 7px 17px;
            font-size: 14px;
            background: #fff;
            letter-spacing: -0.05em;
          }

          .link-season {
            color: #E55427;
          }

          .point {
            display: flex;
            gap: 2px;

            &::after {
              content: "";
              margin-top: 3px;
              width: 6px;
              height: 6px;
              border-radius: 50%;
              background: #ee5728;
            }
          }
        }
      }

      &-title {
        display: none;
      }

      &-btn {
        position: absolute;
        top: 10px;
        transform: translateY(26%);
        right: 15px;
        width: 15px;
        height: 12px;
        background: url("../images/btn_open_middle.png") no-repeat center / 12px;


        &.on {
          transform: rotate(180deg);
          top: 15px;
        }
      }
    }
  }
}


/* nav */
.gnb {
  width: 83.2%;
  height: 100vh;
  background: #fff;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;

  transform: translateX(-100%);
  transition: all .3s;
  overflow-y: auto;


  &.isAct {
    transform: none;
  }

  .auth-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 32px 16px 14px;
    border-bottom: 1px solid #ddd;


    .group-flex {
      display: flex;
      align-items: center;
      gap: 6px;

      a {
        padding: 10px 26px;
        font-size: 14px;
        line-height: 1;
        font-weight: 700;
        border-radius: 4px;
        background: #fff;
        border: 1px solid #ccc;
        color: #333;

        &.link-login {
          background: #0e0e0e;
          color: #fff;
        }
      }

    }

    p {
      display: flex;
      align-items: center;
      margin-top: auto;
      color: #77797E;
      font-size: 13px;
      padding-top: 15px;

      span {
        font-weight: 700;
      }
    }
  }

  .menu-area {
    padding: 11px 16px;

    .nav-list {
      padding-bottom: 11px;
      border-bottom: 1px solid #ddd;

      &:nth-child(2) {
        padding: 18px 0px 11px;

        .nav-item {
          &:nth-child(1) {
            .title {
              &::after {
                display: none;
              }
            }
          }
        }

        .sub-list {
          .sub-item {
            line-height: 20px;
            color: #888;
            font-weight: 500;
            font-size: 16px;
          }
        }
      }

      .nav-item {
        line-height: 1;

        .title {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 11px 0;
          line-height: 1;
          color: #333;
          font-weight: 600;

          &::after {
            content: "";
            display: block;
            width: 24px;
            height: 24px;
            background: url("../images/btn_open.png") no-repeat;
            cursor: pointer;
          }

          &.on {
            &::after {
              content: "";
              display: block;
              width: 24px;
              height: 24px;
              background: url("../images/btn_open.png") no-repeat;
              transform: rotate(180deg);
              margin-right: -5px;
              cursor: pointer;
            }
          }
        }

      }

      .sub-list {
        display: none;
        padding-bottom: 15px;

        .sub-item {
          padding: 10px 0;
          color: #848484;
          font-size: 15px;
          line-height: 15px;
          letter-spacing: -0.5px;
        }
      }
    }


    .section-event {
      .headline {
        padding: 20px 0;
        font-size: 17px;
        line-height: 21px;
        letter-spacing: -0.02em;
        color: #333;
        font-weight: 500;
      }

      .content {
        padding-bottom: 30px;

        a {
          position: relative;

          img {
            width: 100%;
          }

          .text-box {
            margin: 12px 0 6px;

            em {
              font-weight: 500;
              font-size: 15px;
              line-height: 18px;
              letter-spacing: -0.02em;
              color: #222;
            }

            p {
              font-size: 13px;
              line-height: 16px;
              letter-spacing: -0.02em;
              font-weight: 400;
              color: #777;
            }

          }

          .btn-more {
            position: absolute;
            bottom: 20px;
            right: 0;
            font-size: 14px;
            line-height: 16px;
            letter-spacing: -0.02em;
            font-weight: 500;
            color: #777;
          }

        }
      }

    }

    .group-flex {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 2px;
      position: relative;

      a {

        text-align: center;
        width: 50%;
        background: #F2F2F2;
        padding: 14px 0;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: -0.02em;
        font-weight: 400;
        color: #777;

        &:first-child {
          &::after {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 1px;
            height: 16px;
            background: #CCC;
          }
        }
      }
    }

    .section-recent {
      width: 100%;



      .headline {
        padding: 0;
        color: #333;
        font-size: 16px;
        line-height: 20px;
        font-weight: 500;
        padding-top: 30px;
        padding-bottom: 10px;
      }

      ul {
        width: 100%;
        display: flex;
        gap: 7px;
        padding: 10px 0;

        li {
          width: 20%;

          a {
            img {
              width: 100%;
              height: 100%;
            }
          }
        }
      }

      .all {
        margin-top: 10px;
        display: inline-block;
        color: #777;
        font-size: 13px;
        font-weight: 400;
        letter-spacing: -0.03em;
        border: 1px solid #ccc;
        border-radius: 2px;
        padding: 10px 0px 10px 18px;


        &:after {
          content: "";
          width: 25px;
          height: 15px;
          display: inline-block;
          background: url("../images/more_btn.png") no-repeat center;
          background-size: 15px auto;
          padding-right: 48px;
        }

      }
    }
  }


  .menu-close-btn {
    &:before {
      position: absolute;
      top: 32px;
      right: 16px;
      content: "";
      width: 24px;
      height: 24px;
      display: block;
      background: url("../images/icon_close.png") no-repeat;
    }
  }


}