@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&family=Noto+Sans:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Noto+Sans+KR:wght@400;500;700&display=swap");
@import url("./reset.css");
@import url("./common.css");
:root {
  -webkit-tap-highlight-color: transparent;
  /* 뷰포트가 변경이 되면 자동으로 폰트 크기가 조절되는 걸 방지해주는 비표준 css 속성 */
  /* 100%값을 주면 모든 디바이스에서 동일한 텍스트 크기를 만들수 있다.  */
  /* 퍼센트값을 낮게줘서 디바이스별로 동일하게 작게 줄 수도 있다.  */
  /* 비표준 속성이기 때문에 프리픽스를 사용해야 한다. */
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
       text-size-adjust: 100%;
  /* default 로 하면 기본 커서인 화살표로 된다. */
  cursor: default;
  /*라인박스의 높이를 설정해주는 속성 글자의 높이를 정해준다. */
  line-height: 1.5;
  /* 텍스트가 박스를 넘지 않게끔에서 레이아웃이 깨지지 않아서 문자열의 줄 바꿈 내용을 정해주는 속성 */
  /* 속성 값들은 normal(두 단어 사이의 공백만 분리해주는 속성값), break-word(최소 콘텐츠 고유 크기를 문자열이 넘지 않게끔 해주는 속성값. 단어들도 보장해준다.) 가 자주 쓰인다. */
  overflow-wrap: break-word;
  /* 탭했을때의 너비를 정해주는 속성*/
  /* 파이어폭스에서 일부 지원하는 버전이 있기 때문에 파이어폭스 프리픽스 사용 */
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
  --font-en: "Montserrat", "Noto Sans KR", sans-serif;
  --font-kr: "Noto Sans KR", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
}

* {
  box-sizing: border-box;
}

*,
:after,
:before {
  box-sizing: border-box;
  flex-shrink: 0;
}

html,
body {
  height: 100%;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

button {
  background: none;
  border: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul {
  list-style: none;
}

/* 세팅 */
body {
  /* 기본적인 국문의 폰트패밀리 적용 */
  font-family: var(--font-kr);
  color: #222222;
  letter-spacing: -0.025em;
}

.blind {
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  position: absolute;
}

.link-detail {
  border: 1px solid #222;
  font-size: 12px;
  width: 125px;
  height: 40px;
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.link-detail:hover {
  background: #222;
  color: #fff;
}

/* header */
.dimmed {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100vh;
  display: none;
}

.back-modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 20;
  width: 100vw;
  height: 100%;
  background-image: url("../images/back-modal.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.back-modal::before {
  content: "";
  position: absolute;
  left: 5px;
  top: 9px;
  font-size: 0;
  background: url("../images/close_search.png") no-repeat center/10px auto;
  width: 10px;
  height: 18px;
  padding: 18px 4.17%;
}
.back-modal input {
  display: block;
  width: 80%;
  margin: 0 auto;
  background: transparent;
  border: none;
  color: #fff;
  padding-bottom: 10px;
  border-bottom: 1px solid #fff;
}
.back-modal input::-moz-placeholder {
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  line-height: 43px;
  letter-spacing: -0.5px;
}
.back-modal input::placeholder {
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  line-height: 43px;
  letter-spacing: -0.5px;
}
.back-modal input:after {
  content: "";
  display: block;
  width: 19px;
  height: 19px;
  background: url("../images/search.png") no-repeat center/contain;
}

.header {
  position: fixed;
  top: 40px;
  left: 0;
  right: 0;
  background-color: transparent;
  z-index: 2;
  height: 50px;
  overflow: hidden;
}
.header .inner1 {
  padding: 15px;
}
.header .top-menu {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
}
.header .top-menu .group-flex {
  display: flex;
  justify-content: center;
  gap: 17px;
}
.header .top-menu .logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header .top-menu .logo a {
  display: block;
  width: 87px;
  height: 23px;
  background-image: url("data:image/svg+xml,%3Csvg width='80' height='21' viewBox='0 0 80 21' fill='%23fff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M47.0869 5.86882C47.8839 6.25103 48.5762 6.75112 49.1488 7.36194H49.1525V0.5H51.6935V20.1642H49.1525V18.2282C48.5837 18.8461 47.8952 19.3498 47.1056 19.732C46.0465 20.2428 44.8977 20.5 43.6815 20.5C42.1734 20.5 40.7738 20.1571 39.5165 19.482C38.2591 18.8068 37.2524 17.871 36.5227 16.7065C35.7967 15.5384 35.4263 14.2167 35.4263 12.7772C35.4263 11.3519 35.8042 10.0374 36.5527 8.86935C37.2936 7.70486 38.3077 6.77612 39.5688 6.10814C40.8262 5.44374 42.2071 5.10439 43.6777 5.10439C44.8752 5.10439 46.0203 5.36158 47.0869 5.86882ZM46.4918 8.09064C45.6386 7.60127 44.6844 7.35122 43.6553 7.35122C42.585 7.35122 41.6083 7.59055 40.7476 8.06921C39.8832 8.54787 39.1984 9.2087 38.7119 10.0374C38.2217 10.8697 37.9709 11.8163 37.9709 12.8558C37.9709 13.8595 38.2217 14.7811 38.7119 15.5956C39.1984 16.4064 39.8832 17.0637 40.7476 17.5388C41.6083 18.0138 42.6 18.2567 43.6852 18.2567C44.6994 18.2567 45.6386 18.0103 46.4844 17.528C47.3301 17.0422 48.0112 16.3778 48.5089 15.5563C49.0066 14.7347 49.2611 13.8167 49.2611 12.8308C49.2611 11.8592 49.0103 10.9412 48.5201 10.0981C48.0261 9.25871 47.3451 8.58359 46.4918 8.09064ZM13.725 7.37263C13.1823 6.76538 12.52 6.26886 11.7454 5.88665C10.6975 5.3687 9.52251 5.10437 8.25391 5.10437C6.78699 5.10437 5.40239 5.44372 4.14502 6.10812C2.88765 6.77967 1.87352 7.70841 1.12883 8.86933C0.3804 10.0374 0.00244141 11.3519 0.00244141 12.7772C0.00244141 14.2167 0.372916 15.5384 1.0989 16.7064C1.82862 17.8745 2.83526 18.8068 4.09263 19.4819C5.35 20.1571 6.74956 20.5 8.25766 20.5C9.50754 20.5 10.6751 20.2392 11.7229 19.7177C12.5013 19.3319 13.1711 18.8354 13.7287 18.2317V20.1642H16.2696V5.46515H13.7287V7.37263H13.725ZM13.0925 10.0981C13.5828 10.9376 13.8335 11.8591 13.8335 12.8272C13.8335 13.8131 13.579 14.7311 13.0813 15.5527C12.5836 16.3742 11.9025 17.0386 11.0531 17.5244C10.2111 18.0067 9.26804 18.2532 8.25766 18.2532C7.1874 18.2532 6.20321 18.0138 5.33128 17.5459C4.45936 17.0779 3.7708 16.4243 3.28432 15.6027C2.7941 14.7811 2.54337 13.8524 2.54337 12.8486C2.54337 11.8127 2.79784 10.8625 3.29555 10.0303C3.79325 9.20153 4.48181 8.53713 5.34625 8.06204C6.21069 7.58696 7.17991 7.34406 8.22772 7.34406C9.26056 7.34406 10.2148 7.5941 11.068 8.08347C11.9212 8.58356 12.6023 9.25868 13.0925 10.0981ZM29.921 5.97238C28.8657 5.39728 27.6121 5.10794 26.1976 5.10794C25.1722 5.10794 24.2142 5.30798 23.3535 5.70805C22.766 5.97595 22.1673 6.38674 21.7631 6.78324V5.46515H19.2222V20.1642H21.7631V11.877C21.7631 10.5553 22.2346 9.45515 23.0317 8.60857C23.8288 7.76199 24.8728 7.3512 26.2238 7.3512C27.0433 7.3512 27.7955 7.53695 28.4616 7.9013C29.1277 8.26565 29.6404 8.7836 30.0221 9.48372C30.4 10.1803 30.5946 11.0304 30.5946 12.0056V20.1678H33.1243V12.0056C33.1243 10.6625 32.9185 9.45514 32.3647 8.41925C31.7996 7.37263 30.98 6.55106 29.921 5.97238ZM67.717 7.37263C67.1744 6.76538 66.512 6.26886 65.7374 5.88665C64.6896 5.3687 63.5145 5.10437 62.2459 5.10437C60.7753 5.10437 59.3944 5.44372 58.137 6.10812C56.8759 6.7761 55.8618 7.70483 55.1171 8.86933C54.3687 10.0374 53.9907 11.3519 53.9907 12.7772C53.9907 14.2167 54.3612 15.5384 55.0872 16.7064C55.8169 17.8709 56.8235 18.8068 58.0809 19.4819C59.3383 20.1571 60.7378 20.5 62.2459 20.5C63.4958 20.5 64.6634 20.2392 65.7112 19.7177C66.4895 19.3319 67.1594 18.8354 67.717 18.2317V20.1642H70.2579V5.46515H67.717V7.37263ZM67.0845 10.0981C67.5785 10.9376 67.8255 11.8591 67.8255 12.8272C67.8255 13.8131 67.571 14.7311 67.0733 15.5527C66.5756 16.3742 65.8945 17.0386 65.0451 17.5244C64.2031 18.0067 63.2638 18.2532 62.2497 18.2532C61.1794 18.2532 60.1952 18.0138 59.3233 17.5459C58.4514 17.0779 57.7628 16.4243 57.2763 15.6027C56.7861 14.7811 56.5354 13.8524 56.5354 12.8486C56.5354 11.8127 56.7899 10.8625 57.2876 10.0303C57.7853 9.20153 58.4738 8.53713 59.3383 8.06204C60.2027 7.58696 61.1719 7.34406 62.2197 7.34406C63.2526 7.34406 64.2068 7.5941 65.06 8.08347C65.9133 8.58356 66.5943 9.25868 67.0845 10.0981ZM75.7504 5.46519V7.23693C76.6635 5.74381 78.1117 5.16156 79.9978 5.15799V7.76203C78.6169 7.76203 77.483 8.15495 76.7945 8.8908C76.0984 9.63379 75.7504 10.734 75.7504 12.1414V20.1642H73.2095V5.46519H75.7504Z' fill='%23fff'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-size: 100%;
}
.header .top-menu .menu:before {
  content: "";
  display: block;
  width: 22px;
  height: 18px;
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='17' viewBox='0 0 20 17' fill='%23fff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M20 0.5H0V2H20V0.5ZM20 7.75H0V9.25H20V7.75ZM0 15H16V16.5H0V15Z' fill='%23fff'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-size: 100%;
}
.header .top-menu .search:before {
  content: "";
  display: block;
  width: 17px;
  height: 18px;
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='21' viewBox='0 0 20 21' fill='%23fff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 19.2906L15.1854 14.476C16.3833 12.9929 17.1135 11.1104 17.1135 9.05676C17.1135 4.33343 13.2801 0.5 8.55676 0.5C3.83343 0.5 0 4.33343 0 9.05676C0 13.7801 3.83343 17.6135 8.55676 17.6135C10.6104 17.6135 12.4929 16.8833 13.976 15.6854L18.7906 20.5L20 19.2906ZM1.71135 9.05676C1.71135 5.28038 4.78038 2.21135 8.55676 2.21135C12.3331 2.21135 15.4022 5.28038 15.4022 9.05676C15.4022 12.8331 12.3331 15.9022 8.55676 15.9022C4.78038 15.9022 1.71135 12.8331 1.71135 9.05676Z' fill='%23fff'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-size: cover;
}
.header .top-menu .link-bag::before {
  content: "";
  display: inline-block;
  width: 19px;
  height: 18px;
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='21' viewBox='0 0 20 21' fill='%23fff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.8889 4.94444H14.9444C14.6667 2.44444 12.5778 0.5 10 0.5C7.42222 0.5 5.33333 2.44444 5.05556 4.94444H1.11111L0 20.5H20L18.8889 4.94444ZM10 2.16667C11.6444 2.16667 13.0111 3.37778 13.2778 4.94444H6.72222C6.98889 3.37778 8.35556 2.16667 10 2.16667ZM1.78889 18.8333L2.66667 6.61111H5V8.83333H6.66667V6.61111H13.3333V8.83333H15V6.61111H17.3333L18.2111 18.8333H1.78889Z' fill='%23fff'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-size: auto 18px;
}
.header .top-menu .link-my::before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='21' viewBox='0 0 20 21' fill='%23fff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.5889 10.0334C14.0333 9.15561 15 7.58894 15 5.77783C15 3.01117 12.7667 0.777832 10 0.777832C7.23333 0.777832 5 3.01117 5 5.77783C5 7.58894 5.96667 9.15561 7.41111 10.0334C3.14444 11.2445 0 15.3334 0 20.2223H1.66667C1.66667 15.3223 5.4 11.3334 10 11.3334C14.6 11.3334 18.3333 15.3223 18.3333 20.2223H20C20 15.3334 16.8556 11.2445 12.5889 10.0334ZM10 2.4445C11.8333 2.4445 13.3333 3.9445 13.3333 5.77783C13.3333 7.61117 11.8333 9.11117 10 9.11117C8.16667 9.11117 6.66667 7.61117 6.66667 5.77783C6.66667 3.9445 8.16667 2.4445 10 2.4445Z' fill='%23fff'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-size: cover;
}
.header .top-menu.on .logo a {
  background-image: url("data:image/svg+xml,%3Csvg width='80' height='21' viewBox='0 0 80 21' fill='%23000' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M47.0869 5.86882C47.8839 6.25103 48.5762 6.75112 49.1488 7.36194H49.1525V0.5H51.6935V20.1642H49.1525V18.2282C48.5837 18.8461 47.8952 19.3498 47.1056 19.732C46.0465 20.2428 44.8977 20.5 43.6815 20.5C42.1734 20.5 40.7738 20.1571 39.5165 19.482C38.2591 18.8068 37.2524 17.871 36.5227 16.7065C35.7967 15.5384 35.4263 14.2167 35.4263 12.7772C35.4263 11.3519 35.8042 10.0374 36.5527 8.86935C37.2936 7.70486 38.3077 6.77612 39.5688 6.10814C40.8262 5.44374 42.2071 5.10439 43.6777 5.10439C44.8752 5.10439 46.0203 5.36158 47.0869 5.86882ZM46.4918 8.09064C45.6386 7.60127 44.6844 7.35122 43.6553 7.35122C42.585 7.35122 41.6083 7.59055 40.7476 8.06921C39.8832 8.54787 39.1984 9.2087 38.7119 10.0374C38.2217 10.8697 37.9709 11.8163 37.9709 12.8558C37.9709 13.8595 38.2217 14.7811 38.7119 15.5956C39.1984 16.4064 39.8832 17.0637 40.7476 17.5388C41.6083 18.0138 42.6 18.2567 43.6852 18.2567C44.6994 18.2567 45.6386 18.0103 46.4844 17.528C47.3301 17.0422 48.0112 16.3778 48.5089 15.5563C49.0066 14.7347 49.2611 13.8167 49.2611 12.8308C49.2611 11.8592 49.0103 10.9412 48.5201 10.0981C48.0261 9.25871 47.3451 8.58359 46.4918 8.09064ZM13.725 7.37263C13.1823 6.76538 12.52 6.26886 11.7454 5.88665C10.6975 5.3687 9.52251 5.10437 8.25391 5.10437C6.78699 5.10437 5.40239 5.44372 4.14502 6.10812C2.88765 6.77967 1.87352 7.70841 1.12883 8.86933C0.3804 10.0374 0.00244141 11.3519 0.00244141 12.7772C0.00244141 14.2167 0.372916 15.5384 1.0989 16.7064C1.82862 17.8745 2.83526 18.8068 4.09263 19.4819C5.35 20.1571 6.74956 20.5 8.25766 20.5C9.50754 20.5 10.6751 20.2392 11.7229 19.7177C12.5013 19.3319 13.1711 18.8354 13.7287 18.2317V20.1642H16.2696V5.46515H13.7287V7.37263H13.725ZM13.0925 10.0981C13.5828 10.9376 13.8335 11.8591 13.8335 12.8272C13.8335 13.8131 13.579 14.7311 13.0813 15.5527C12.5836 16.3742 11.9025 17.0386 11.0531 17.5244C10.2111 18.0067 9.26804 18.2532 8.25766 18.2532C7.1874 18.2532 6.20321 18.0138 5.33128 17.5459C4.45936 17.0779 3.7708 16.4243 3.28432 15.6027C2.7941 14.7811 2.54337 13.8524 2.54337 12.8486C2.54337 11.8127 2.79784 10.8625 3.29555 10.0303C3.79325 9.20153 4.48181 8.53713 5.34625 8.06204C6.21069 7.58696 7.17991 7.34406 8.22772 7.34406C9.26056 7.34406 10.2148 7.5941 11.068 8.08347C11.9212 8.58356 12.6023 9.25868 13.0925 10.0981ZM29.921 5.97238C28.8657 5.39728 27.6121 5.10794 26.1976 5.10794C25.1722 5.10794 24.2142 5.30798 23.3535 5.70805C22.766 5.97595 22.1673 6.38674 21.7631 6.78324V5.46515H19.2222V20.1642H21.7631V11.877C21.7631 10.5553 22.2346 9.45515 23.0317 8.60857C23.8288 7.76199 24.8728 7.3512 26.2238 7.3512C27.0433 7.3512 27.7955 7.53695 28.4616 7.9013C29.1277 8.26565 29.6404 8.7836 30.0221 9.48372C30.4 10.1803 30.5946 11.0304 30.5946 12.0056V20.1678H33.1243V12.0056C33.1243 10.6625 32.9185 9.45514 32.3647 8.41925C31.7996 7.37263 30.98 6.55106 29.921 5.97238ZM67.717 7.37263C67.1744 6.76538 66.512 6.26886 65.7374 5.88665C64.6896 5.3687 63.5145 5.10437 62.2459 5.10437C60.7753 5.10437 59.3944 5.44372 58.137 6.10812C56.8759 6.7761 55.8618 7.70483 55.1171 8.86933C54.3687 10.0374 53.9907 11.3519 53.9907 12.7772C53.9907 14.2167 54.3612 15.5384 55.0872 16.7064C55.8169 17.8709 56.8235 18.8068 58.0809 19.4819C59.3383 20.1571 60.7378 20.5 62.2459 20.5C63.4958 20.5 64.6634 20.2392 65.7112 19.7177C66.4895 19.3319 67.1594 18.8354 67.717 18.2317V20.1642H70.2579V5.46515H67.717V7.37263ZM67.0845 10.0981C67.5785 10.9376 67.8255 11.8591 67.8255 12.8272C67.8255 13.8131 67.571 14.7311 67.0733 15.5527C66.5756 16.3742 65.8945 17.0386 65.0451 17.5244C64.2031 18.0067 63.2638 18.2532 62.2497 18.2532C61.1794 18.2532 60.1952 18.0138 59.3233 17.5459C58.4514 17.0779 57.7628 16.4243 57.2763 15.6027C56.7861 14.7811 56.5354 13.8524 56.5354 12.8486C56.5354 11.8127 56.7899 10.8625 57.2876 10.0303C57.7853 9.20153 58.4738 8.53713 59.3383 8.06204C60.2027 7.58696 61.1719 7.34406 62.2197 7.34406C63.2526 7.34406 64.2068 7.5941 65.06 8.08347C65.9133 8.58356 66.5943 9.25868 67.0845 10.0981ZM75.7504 5.46519V7.23693C76.6635 5.74381 78.1117 5.16156 79.9978 5.15799V7.76203C78.6169 7.76203 77.483 8.15495 76.7945 8.8908C76.0984 9.63379 75.7504 10.734 75.7504 12.1414V20.1642H73.2095V5.46519H75.7504Z' fill='%23000'/%3E%3C/svg%3E%0A");
}
.header .top-menu.on .menu::before {
  content: "";
  display: block;
  width: 22px;
  height: 18px;
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='17' viewBox='0 0 20 17' fill='%23000' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M20 0.5H0V2H20V0.5ZM20 7.75H0V9.25H20V7.75ZM0 15H16V16.5H0V15Z' fill='%23000'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-size: 100%;
}
.header .top-menu.on .search::before {
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='21' viewBox='0 0 20 21' fill='%23000' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 19.2906L15.1854 14.476C16.3833 12.9929 17.1135 11.1104 17.1135 9.05676C17.1135 4.33343 13.2801 0.5 8.55676 0.5C3.83343 0.5 0 4.33343 0 9.05676C0 13.7801 3.83343 17.6135 8.55676 17.6135C10.6104 17.6135 12.4929 16.8833 13.976 15.6854L18.7906 20.5L20 19.2906ZM1.71135 9.05676C1.71135 5.28038 4.78038 2.21135 8.55676 2.21135C12.3331 2.21135 15.4022 5.28038 15.4022 9.05676C15.4022 12.8331 12.3331 15.9022 8.55676 15.9022C4.78038 15.9022 1.71135 12.8331 1.71135 9.05676Z' fill='%23000'/%3E%3C/svg%3E%0A");
}
.header .top-menu.on .link-bag::before {
  content: "";
  display: inline-block;
  width: 19px;
  height: 18px;
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='21' viewBox='0 0 20 21' fill='%23000' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.8889 4.94444H14.9444C14.6667 2.44444 12.5778 0.5 10 0.5C7.42222 0.5 5.33333 2.44444 5.05556 4.94444H1.11111L0 20.5H20L18.8889 4.94444ZM10 2.16667C11.6444 2.16667 13.0111 3.37778 13.2778 4.94444H6.72222C6.98889 3.37778 8.35556 2.16667 10 2.16667ZM1.78889 18.8333L2.66667 6.61111H5V8.83333H6.66667V6.61111H13.3333V8.83333H15V6.61111H17.3333L18.2111 18.8333H1.78889Z' fill='%23000'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-size: auto 18px;
}
.header .top-menu.on .link-bag.isAct::before {
  filter: brightness(0.4);
}
.header .top-menu.on .link-my::before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='21' viewBox='0 0 20 21' fill='%23000' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.5889 10.0334C14.0333 9.15561 15 7.58894 15 5.77783C15 3.01117 12.7667 0.777832 10 0.777832C7.23333 0.777832 5 3.01117 5 5.77783C5 7.58894 5.96667 9.15561 7.41111 10.0334C3.14444 11.2445 0 15.3334 0 20.2223H1.66667C1.66667 15.3223 5.4 11.3334 10 11.3334C14.6 11.3334 18.3333 15.3223 18.3333 20.2223H20C20 15.3334 16.8556 11.2445 12.5889 10.0334ZM10 2.4445C11.8333 2.4445 13.3333 3.9445 13.3333 5.77783C13.3333 7.61117 11.8333 9.11117 10 9.11117C8.16667 9.11117 6.66667 7.61117 6.66667 5.77783C6.66667 3.9445 8.16667 2.4445 10 2.4445Z' fill='%23000'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-size: cover;
}
.header .best-menu {
  display: flex;
  flex-direction: column;
  position: relative;
}
.header .best-menu .group-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .best-menu .group-flex.inner1 {
  padding: 10px 15px;
}
.header .best-menu .all-menu {
  display: none;
}
.header .best-menu ul {
  display: flex;
  gap: 10px;
}
.header .best-menu ul .link-season {
  color: #439ae8;
}
.header .best-menu ul .link-season span {
  font-weight: 600;
}
.header .best-menu::before {
  content: "";
  position: absolute;
  top: 10px;
  transform: translateY(26%);
  right: 15px;
  width: 15px;
  height: 15px;
  background: url("../images/btn_open_middle.png") no-repeat center/contain;
}
.header .best-menu.on::before {
  transform: rotate(180deg);
  top: 15px;
}
.header .best-menu.on .all-menu {
  padding: 10px 16px 10px;
}
.header .best-menu.on .group-flex {
  border-top: 1px solid #dcdcdc;
  padding: 7px 12px;
  background: #F6F6F6;
}
.header .best-menu.on .group-flex ul {
  gap: 0px;
}
.header .best-menu.on .group-flex li {
  display: inline-block;
  padding: 8px 17px;
  margin: 3px 3px;
  border: 1px solid #ebebeb;
  border-radius: 100px;
  box-sizing: border-box;
  background: #fff;
  font-size: 14px;
  line-height: 20px;
  color: #000;
  letter-spacing: -0.05em;
}

/* nav */
.gnb {
  width: 83.2%;
  height: 100vh;
  background: #fff;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  transition: all 0.3s;
  overflow-y: auto;
}
.gnb.isAct {
  transform: none;
}
.gnb .auth-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 32px 16px 14px;
  border-bottom: 1px solid #ddd;
}
.gnb .auth-area .group-flex {
  display: flex;
  align-items: center;
  gap: 6px;
}
.gnb .auth-area .group-flex a {
  padding: 10px 26px;
  font-size: 14px;
  line-height: 1;
  font-weight: 700;
  border-radius: 4px;
  background: #fff;
  border: 1px solid #ccc;
  color: #333;
}
.gnb .auth-area .group-flex a.link-login {
  background: #0e0e0e;
  color: #fff;
}
.gnb .auth-area p {
  display: flex;
  align-items: center;
  margin-top: auto;
  color: #77797E;
  font-size: 13px;
  padding-top: 15px;
}
.gnb .auth-area p span {
  font-weight: 700;
}
.gnb .inner2 {
  padding: 20px 16px 11px;
}
.gnb .inner2 .nav-list {
  padding-bottom: 11px;
  border-bottom: 1px solid #ddd;
}
.gnb .inner2 .nav-list .nav-item {
  line-height: 1;
}
.gnb .inner2 .nav-list .nav-item .title {
  padding: 11px 0;
  line-height: 1;
  color: #333;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.gnb .inner2 .nav-list .nav-item .title::after {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  background: url("../images/btn_open.png") no-repeat;
  cursor: pointer;
}
.gnb .inner2 .nav-list .nav-item .title.on::after {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  background: url("../images/btn_open.png") no-repeat;
  transform: rotate(180deg);
  margin-right: -5px;
  cursor: pointer;
}
.gnb .inner2 .nav-list .sub-list {
  display: none;
  padding-bottom: 15px;
}
.gnb .inner2 .nav-list .sub-list .sub-item {
  padding: 10px 0;
  color: #848484;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: -0.5px;
}
.gnb .inner2 .service-list {
  padding: 18px 0px 11px;
  border-bottom: 1px solid #ddd;
}
.gnb .inner2 .service-list .service-item {
  line-height: 1;
  color: #333;
  font-weight: 500;
}
.gnb .inner2 .service-list .service-item a {
  display: inline-block;
  padding: 9px 0;
}
.gnb .inner2 .service-list .service-item .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 1;
  padding: 13px 0;
}
.gnb .inner2 .service-list .service-item .title::after {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  background: url("../images/btn_open.png") no-repeat;
  cursor: pointer;
}
.gnb .inner2 .service-list .service-item .title.on::after {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  background: url("../images/btn_open.png") no-repeat;
  transform: rotate(180deg);
  margin-right: -5px;
  cursor: pointer;
}
.gnb .inner2 .service-list .service-item .sub-list {
  display: none;
}
.gnb .inner2 .service-list .service-item .sub-list .sub-item {
  line-height: 20px;
  color: #888;
  font-weight: 400;
}
.gnb .inner2 .section-event .headline {
  padding: 20px 0;
  font-size: 17px;
  line-height: 21px;
  letter-spacing: -0.02em;
  color: #333;
  font-weight: 500;
}
.gnb .inner2 .section-event .content {
  padding-bottom: 30px;
}
.gnb .inner2 .section-event .content a {
  position: relative;
}
.gnb .inner2 .section-event .content a img {
  width: 100%;
}
.gnb .inner2 .section-event .content a .text-box {
  margin: 12px 0 6px;
}
.gnb .inner2 .section-event .content a .text-box em {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.02em;
  color: #222;
}
.gnb .inner2 .section-event .content a .text-box p {
  font-size: 13px;
  line-height: 16px;
  letter-spacing: -0.02em;
  font-weight: 400;
  color: #777;
}
.gnb .inner2 .section-event .content a .btn-more {
  position: absolute;
  bottom: 20px;
  right: 0;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.02em;
  font-weight: 500;
  color: #777;
}
.gnb .inner2 .group-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  position: relative;
}
.gnb .inner2 .group-flex a {
  text-align: center;
  width: 50%;
  background: #F2F2F2;
  padding: 14px 0;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.02em;
  font-weight: 400;
  color: #777;
}
.gnb .inner2 .group-flex a:first-child::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1px;
  height: 16px;
  background: #CCC;
}
.gnb .inner2 .section-recent {
  width: 100%;
}
.gnb .inner2 .section-recent .headline {
  padding: 0;
  color: #333;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  padding-top: 30px;
  padding-bottom: 10px;
}
.gnb .inner2 .section-recent ul {
  width: 100%;
  display: flex;
  gap: 7px;
  padding: 10px 0;
}
.gnb .inner2 .section-recent ul li {
  width: 20%;
}
.gnb .inner2 .section-recent ul li a img {
  width: 100%;
  height: 100%;
}
.gnb .inner2 .section-recent .all {
  margin-top: 10px;
  display: inline-block;
  color: #777;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: -0.03em;
  border: 1px solid #ccc;
  border-radius: 2px;
  padding: 10px 0px 10px 18px;
}
.gnb .inner2 .section-recent .all:after {
  content: "";
  width: 25px;
  height: 15px;
  display: inline-block;
  background: url("../images/more_btn.png") no-repeat center;
  background-size: 15px auto;
  padding-right: 48px;
}
.gnb .menu-close-btn:before {
  position: absolute;
  top: 32px;
  right: 16px;
  content: "";
  width: 24px;
  height: 24px;
  display: block;
  background: url("../images/icon_close.png") no-repeat;
}

/* footer */
.footer {
  padding: 30px 16px 30px;
  color: #555;
}

.bar {
  display: inline-block;
  width: 1px;
  height: 10px;
  margin-top: 2px;
  background-color: #e2e5eb;
}

.group-logo {
  margin-bottom: 24px;
}
.group-logo .logo a {
  display: block;
  width: 87px;
  height: 23px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: url("data:image/svg+xml,%3Csvg width='80' height='21' viewBox='0 0 80 21' fill='%23000' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M47.0869 5.86882C47.8839 6.25103 48.5762 6.75112 49.1488 7.36194H49.1525V0.5H51.6935V20.1642H49.1525V18.2282C48.5837 18.8461 47.8952 19.3498 47.1056 19.732C46.0465 20.2428 44.8977 20.5 43.6815 20.5C42.1734 20.5 40.7738 20.1571 39.5165 19.482C38.2591 18.8068 37.2524 17.871 36.5227 16.7065C35.7967 15.5384 35.4263 14.2167 35.4263 12.7772C35.4263 11.3519 35.8042 10.0374 36.5527 8.86935C37.2936 7.70486 38.3077 6.77612 39.5688 6.10814C40.8262 5.44374 42.2071 5.10439 43.6777 5.10439C44.8752 5.10439 46.0203 5.36158 47.0869 5.86882ZM46.4918 8.09064C45.6386 7.60127 44.6844 7.35122 43.6553 7.35122C42.585 7.35122 41.6083 7.59055 40.7476 8.06921C39.8832 8.54787 39.1984 9.2087 38.7119 10.0374C38.2217 10.8697 37.9709 11.8163 37.9709 12.8558C37.9709 13.8595 38.2217 14.7811 38.7119 15.5956C39.1984 16.4064 39.8832 17.0637 40.7476 17.5388C41.6083 18.0138 42.6 18.2567 43.6852 18.2567C44.6994 18.2567 45.6386 18.0103 46.4844 17.528C47.3301 17.0422 48.0112 16.3778 48.5089 15.5563C49.0066 14.7347 49.2611 13.8167 49.2611 12.8308C49.2611 11.8592 49.0103 10.9412 48.5201 10.0981C48.0261 9.25871 47.3451 8.58359 46.4918 8.09064ZM13.725 7.37263C13.1823 6.76538 12.52 6.26886 11.7454 5.88665C10.6975 5.3687 9.52251 5.10437 8.25391 5.10437C6.78699 5.10437 5.40239 5.44372 4.14502 6.10812C2.88765 6.77967 1.87352 7.70841 1.12883 8.86933C0.3804 10.0374 0.00244141 11.3519 0.00244141 12.7772C0.00244141 14.2167 0.372916 15.5384 1.0989 16.7064C1.82862 17.8745 2.83526 18.8068 4.09263 19.4819C5.35 20.1571 6.74956 20.5 8.25766 20.5C9.50754 20.5 10.6751 20.2392 11.7229 19.7177C12.5013 19.3319 13.1711 18.8354 13.7287 18.2317V20.1642H16.2696V5.46515H13.7287V7.37263H13.725ZM13.0925 10.0981C13.5828 10.9376 13.8335 11.8591 13.8335 12.8272C13.8335 13.8131 13.579 14.7311 13.0813 15.5527C12.5836 16.3742 11.9025 17.0386 11.0531 17.5244C10.2111 18.0067 9.26804 18.2532 8.25766 18.2532C7.1874 18.2532 6.20321 18.0138 5.33128 17.5459C4.45936 17.0779 3.7708 16.4243 3.28432 15.6027C2.7941 14.7811 2.54337 13.8524 2.54337 12.8486C2.54337 11.8127 2.79784 10.8625 3.29555 10.0303C3.79325 9.20153 4.48181 8.53713 5.34625 8.06204C6.21069 7.58696 7.17991 7.34406 8.22772 7.34406C9.26056 7.34406 10.2148 7.5941 11.068 8.08347C11.9212 8.58356 12.6023 9.25868 13.0925 10.0981ZM29.921 5.97238C28.8657 5.39728 27.6121 5.10794 26.1976 5.10794C25.1722 5.10794 24.2142 5.30798 23.3535 5.70805C22.766 5.97595 22.1673 6.38674 21.7631 6.78324V5.46515H19.2222V20.1642H21.7631V11.877C21.7631 10.5553 22.2346 9.45515 23.0317 8.60857C23.8288 7.76199 24.8728 7.3512 26.2238 7.3512C27.0433 7.3512 27.7955 7.53695 28.4616 7.9013C29.1277 8.26565 29.6404 8.7836 30.0221 9.48372C30.4 10.1803 30.5946 11.0304 30.5946 12.0056V20.1678H33.1243V12.0056C33.1243 10.6625 32.9185 9.45514 32.3647 8.41925C31.7996 7.37263 30.98 6.55106 29.921 5.97238ZM67.717 7.37263C67.1744 6.76538 66.512 6.26886 65.7374 5.88665C64.6896 5.3687 63.5145 5.10437 62.2459 5.10437C60.7753 5.10437 59.3944 5.44372 58.137 6.10812C56.8759 6.7761 55.8618 7.70483 55.1171 8.86933C54.3687 10.0374 53.9907 11.3519 53.9907 12.7772C53.9907 14.2167 54.3612 15.5384 55.0872 16.7064C55.8169 17.8709 56.8235 18.8068 58.0809 19.4819C59.3383 20.1571 60.7378 20.5 62.2459 20.5C63.4958 20.5 64.6634 20.2392 65.7112 19.7177C66.4895 19.3319 67.1594 18.8354 67.717 18.2317V20.1642H70.2579V5.46515H67.717V7.37263ZM67.0845 10.0981C67.5785 10.9376 67.8255 11.8591 67.8255 12.8272C67.8255 13.8131 67.571 14.7311 67.0733 15.5527C66.5756 16.3742 65.8945 17.0386 65.0451 17.5244C64.2031 18.0067 63.2638 18.2532 62.2497 18.2532C61.1794 18.2532 60.1952 18.0138 59.3233 17.5459C58.4514 17.0779 57.7628 16.4243 57.2763 15.6027C56.7861 14.7811 56.5354 13.8524 56.5354 12.8486C56.5354 11.8127 56.7899 10.8625 57.2876 10.0303C57.7853 9.20153 58.4738 8.53713 59.3383 8.06204C60.2027 7.58696 61.1719 7.34406 62.2197 7.34406C63.2526 7.34406 64.2068 7.5941 65.06 8.08347C65.9133 8.58356 66.5943 9.25868 67.0845 10.0981ZM75.7504 5.46519V7.23693C76.6635 5.74381 78.1117 5.16156 79.9978 5.15799V7.76203C78.6169 7.76203 77.483 8.15495 76.7945 8.8908C76.0984 9.63379 75.7504 10.734 75.7504 12.1414V20.1642H73.2095V5.46519H75.7504Z' fill='%23000'/%3E%3C/svg%3E%0A");
}
.group-logo .desc {
  font-size: 14px;
  line-height: 20px;
  padding-top: 10px;
}

.group-cs .title {
  font-size: 13px;
  line-height: 16px;
  font-weight: 500;
}
.group-cs .tel {
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  margin-top: 6px;
  letter-spacing: -1px;
}
.group-cs .time {
  font-size: 13px;
  line-height: 21px;
  font-weight: 400;
  padding: 8px 0 8px;
}

.group-sns {
  padding: 10px 0;
}
.group-sns .sns-list {
  display: flex;
  align-items: center;
  gap: 25px;
  margin-left: -5px;
}
.group-sns .sns-list .sns-item .link-facebook {
  display: flex;
  flex-direction: column;
}
.group-sns .sns-list .sns-item .link-facebook::before {
  content: "";
  display: block;
  width: 22px;
  height: 22px;
  background: url("../images/icon_facebook.png") no-repeat center;
  background-size: contain;
}
.group-sns .sns-list .sns-item .link-youtube {
  display: flex;
  flex-direction: column;
}
.group-sns .sns-list .sns-item .link-youtube::before {
  content: "";
  display: block;
  width: 22px;
  height: 22px;
  background: url("../images/icon_YouTube.png") no-repeat center;
  background-size: contain;
}
.group-sns .sns-list .sns-item .link-instagram {
  display: flex;
  flex-direction: column;
}
.group-sns .sns-list .sns-item .link-instagram::before {
  content: "";
  display: block;
  width: 22px;
  height: 22px;
  background: url("../images/icon_instagram.png") no-repeat center;
  background-size: contain;
}

.terms {
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 1.7;
  color: #777;
  padding: 4px 0;
  font-weight: 600;
}
.terms span:not(span:last-child) {
  display: flex;
  align-items: center;
}
.terms span:not(span:last-child)::after {
  content: "";
  width: 1px;
  height: 10px;
  margin: 0 8px;
  background: #ccc;
}

.addr {
  padding-top: 13px;
  display: inline-block;
  color: #777;
  line-height: 23px;
  font-size: 11px;
  font-weight: 400;
}
.addr p {
  display: flex;
  align-items: center;
}
.addr p span {
  display: flex;
  align-items: center;
}
.addr p span:not(span:last-child):after {
  content: "";
  width: 1px;
  height: 10px;
  margin: 0 10px;
  background: #ccc;
}
.addr .copy {
  display: inline-block;
  padding-top: 20px;
  font-weight: 600;
}
.addr .copy span {
  font-weight: 100;
}

.mark-area {
  margin-top: 20px;
}
.mark-area ul li {
  display: inline-block;
  vertical-align: bottom;
  margin-right: 22px;
}
.mark-area ul li a {
  display: inline-block;
  width: 45px;
}
.mark-area ul li a img {
  max-width: 100%;
  max-height: 100%;
}
.mark-area ul li:nth-child(2) a {
  width: 36px;
}
.mark-area ul li:last-child {
  vertical-align: top;
  padding-top: 4px;
}
.mark-area ul li:last-child a {
  width: 27px;
}

.container {
  position: relative;
}
.container .headline {
  text-align: center;
  font-size: 20px;
  color: #333;
  font-weight: 500;
  line-height: 1;
  font-weight: 700;
  letter-spacing: -0.05em;
  font-family: var(--font-en);
  padding: 50px 16px 22px;
}
.container .top-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  font-size: 13px;
  background: #030303;
  color: #fff;
  font-weight: 400;
}

.section-visual .swiper {
  height: 1163px;
  width: 100vw;
}
.section-visual .swiper .swiper-slide {
  position: relative;
}
.section-visual .swiper .swiper-slide a {
  height: inherit;
}
.section-visual .swiper .swiper-slide a img {
  position: absolute;
  top: 0;
  left: 0;
  height: inherit;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.section-visual .swiper .swiper-slide a .text-box {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
  padding: 20% 7.5%;
  color: #fff;
}
.section-visual .swiper .swiper-slide a .text-box em {
  font-size: 28px;
  font-weight: 600;
  line-height: 1.3;
  letter-spacing: -1px;
}
.section-visual .swiper .swiper-slide a .text-box p {
  font-size: 17px;
  font-weight: 400;
  line-height: 1.4;
  padding-top: 15px;
}
.section-visual .swiper .pagination {
  position: absolute;
  bottom: 35px;
  top: auto;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  width: auto;
}
.section-visual .swiper .pagination .swiper-pagination-bullet {
  margin: 0;
  background-color: #fff;
  opacity: 0.3;
  border-radius: 0;
  width: 20px;
  height: 2px;
}
.section-visual .swiper .pagination .swiper-pagination-bullet-active {
  background-color: #fff;
  border-radius: 0;
  opacity: 1;
  width: 20px;
  height: 2px;
}

.section-best .tab-area {
  padding: 0 16px;
}
.section-best .tab-area ul {
  display: flex;
  align-items: center;
  gap: 25px;
  font-size: 15px;
  font-weight: 500;
  padding: 6px 0 22px;
}
.section-best .tab-area ul .tab-item.on {
  color: #fff;
  background: #B75622;
  border-radius: 60px;
  padding: 9px 10px;
}
.section-best .tab-area ul .tab-item {
  color: #888888;
}
.section-best .best-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
}
.section-best .best-list .best-item {
  position: relative;
}
.section-best .best-list .best-item img {
  width: 100%;
}
.section-best .best-list .best-item .count {
  position: absolute;
  left: 0;
  top: 0;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background: #000;
  font-size: 15px;
}
.section-best .best-list .best-item .text-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 10px 50px;
  gap: 10px;
  line-height: 1;
}
.section-best .best-list .best-item .text-box .review-modal {
  text-align: left;
  max-width: 200px;
  color: #8e1f29;
  font-size: 13px;
  font-weight: 600;
}
.section-best .best-list .best-item .text-box .title {
  font-size: 14px;
  letter-spacing: -1px;
}
.section-best .best-list .best-item .text-box .price {
  font-size: 15px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.section-best .best-list .best-item .text-box .price strong {
  color: #8e1f29;
  font-weight: bold;
  line-height: 4px;
  text-decoration-line: none;
}
.section-best .best-list .best-item .text-box .price .discount {
  color: #333;
  letter-spacing: -0.03em;
  font-weight: 500;
  text-decoration-line: none;
}
.section-best .best-list .best-item .text-box .price .fixed {
  font-size: 13px;
  color: #8d8d8d;
  text-decoration-line: line-through;
}
.section-best .best-list .best-item .text-box .tag {
  padding-top: 5px;
}
.section-best .best-list .best-item .text-box .tag span {
  display: inline-block;
  padding: 5px 6px 4px;
  color: #8e1f28;
  font-size: 10px;
  font-weight: 500;
  border: 0.5px solid #8e1f28;
}
.section-best .best-list .best-item.ice-item {
  position: relative;
}
.section-best .best-list .best-item.ice-item .ice {
  position: absolute;
  top: 0;
  right: 0;
  width: 16%;
}
.section-best .best-list .best-item.new-ice-item {
  position: relative;
}
.section-best .best-list .best-item.new-ice-item .new {
  position: absolute;
  top: 0;
  right: 0;
  width: 16%;
}
.section-best .all {
  margin: 0 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 16px 0;
  border: 1px solid #C8CBD2;
  border-radius: 4px;
  font-weight: 500;
  font-size: 14px;
}
.section-best .all span {
  color: #C86733;
}

.section-banner {
  padding: 60px 0 0;
}
.section-banner a img {
  width: 100%;
}

.section-lookbook .content {
  padding: 20px 0 12px;
}
.section-lookbook .content a .image-box img {
  width: 100%;
}
.section-lookbook .content a .text-box {
  padding: 20px 10px 0px;
}
.section-lookbook .content a .text-box em {
  font-size: 26px;
  line-height: 35px;
  color: #333;
  letter-spacing: -0.05em;
  font-weight: 700;
}
.section-lookbook .content a .text-box p {
  padding: 14px 0 28px;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -0.05em;
  color: #333;
  font-weight: 400;
}
.section-lookbook .content a .btn-more {
  background-color: #1e1e1e;
  border-radius: 2px;
  border: 1px solid #1e1e1e;
  box-sizing: border-box;
  color: #fff;
  padding: 8px 47px 8px 18px;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.03em;
  font-weight: 500;
  margin: 0px 10px;
}
.section-lookbook .content ul {
  padding: 50px 10px 10px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.section-lookbook .content ul li {
  display: flex;
  gap: 30px;
}
.section-lookbook .content ul li a {
  width: 25%;
}
.section-lookbook .content ul li a img {
  width: 100%;
}
.section-lookbook .content ul li .text-box {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  line-height: 1;
}
.section-lookbook .content ul li .text-box .review-modal {
  text-align: left;
  max-width: 200px;
  color: #8e1f29;
  font-size: 13px;
  font-weight: 600;
}
.section-lookbook .content ul li .text-box .title {
  width: 100%;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -1px;
  color: #333;
}
.section-lookbook .content ul li .text-box .price {
  font-size: 15px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.section-lookbook .content ul li .text-box .price strong {
  color: #8e1f29;
  font-weight: bold;
  line-height: 4px;
  text-decoration-line: none;
}
.section-lookbook .content ul li .text-box .price .discount {
  color: #333;
  letter-spacing: -0.03em;
  font-weight: 500;
  text-decoration-line: none;
}
.section-lookbook .content ul li .text-box .price .fixed {
  font-size: 13px;
  color: #8d8d8d;
  text-decoration-line: line-through;
}
.section-lookbook .content ul li .text-box .tag {
  padding-top: 5px;
}
.section-lookbook .content ul li .text-box .tag span {
  display: inline-block;
  padding: 5px 6px 4px;
  color: #8e1f28;
  font-size: 10px;
  font-weight: 500;
  border: 0.5px solid #8e1f28;
}

.section-new {
  padding: 0px 0 20px;
}
.section-new .new-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  padding-top: 20px;
}
.section-new .new-list .new-item {
  position: relative;
}
.section-new .new-list .new-item img {
  width: 100%;
}
.section-new .new-list .new-item .text-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 10px 50px;
  gap: 10px;
  line-height: 1;
}
.section-new .new-list .new-item .text-box .review-modal {
  text-align: left;
  max-width: 200px;
  color: #8e1f29;
  font-size: 13px;
  font-weight: 600;
}
.section-new .new-list .new-item .text-box .title {
  font-size: 14px;
  letter-spacing: -1px;
}
.section-new .new-list .new-item .text-box .price {
  font-size: 15px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: #333;
  letter-spacing: -0.03em;
  font-weight: 500;
}
.section-new .new-list .new-item .text-box .price strong {
  color: #8e1f29;
  font-weight: bold;
  line-height: 4px;
  text-decoration-line: none;
}
.section-new .new-list .new-item .text-box .price .discount {
  color: #333;
  letter-spacing: -0.03em;
  font-weight: 500;
  text-decoration-line: none;
}
.section-new .new-list .new-item .text-box .price .fixed {
  font-size: 13px;
  color: #8d8d8d;
  text-decoration-line: line-through;
}
.section-new .new-list .new-item .text-box .tag {
  padding-top: 5px;
}
.section-new .new-list .new-item .text-box .tag span {
  display: inline-block;
  padding: 5px 6px 4px;
  color: #8e1f28;
  font-size: 10px;
  font-weight: 500;
  border: 0.5px solid #8e1f28;
}
.section-new .all {
  margin: 0 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 16px 0;
  border: 1px solid #C8CBD2;
  border-radius: 4px;
  font-weight: 500;
  font-size: 14px;
}

.section-brand {
  margin-top: 55px;
  padding: 56px 20px;
  background-color: #C86733;
}
.section-brand .headline {
  color: #fff;
  font-size: 18px;
  letter-spacing: -0.5px;
  margin: 0 auto 10px;
  font-weight: 400;
  display: inline-block;
  border-bottom: 1.5px solid #fff;
  padding: 0;
  padding-bottom: 5px;
  line-height: 1.2;
}
.section-brand .title {
  font-size: 30px;
  line-height: 36px;
  letter-spacing: -0.03em;
  color: #fff;
  font-weight: 700;
}
.section-brand .desc {
  padding: 10px 0 5px;
  font-size: 12px;
  line-height: 1.4;
  color: #fff;
  letter-spacing: -0.02em;
  font-weight: 400;
}
.section-brand .btn-more {
  width: 100px;
  margin-top: 20px;
  padding: 10px 0;
  font-size: 12px;
  letter-spacing: -0.03em;
  font-weight: 500;
  color: #fff;
  border: 1px solid #fff;
}

.section-reggings,
.section-bratop,
.section-set {
  position: relative;
}
.section-reggings .headline,
.section-bratop .headline,
.section-set .headline {
  text-align: left;
}
.section-reggings .swiper,
.section-bratop .swiper,
.section-set .swiper {
  padding: 10px 16px;
}
.section-reggings .swiper .swiper-wrapper .swiper-slide,
.section-bratop .swiper .swiper-wrapper .swiper-slide,
.section-set .swiper .swiper-wrapper .swiper-slide {
  width: 45%;
}
.section-reggings .swiper .swiper-wrapper .swiper-slide a img,
.section-bratop .swiper .swiper-wrapper .swiper-slide a img,
.section-set .swiper .swiper-wrapper .swiper-slide a img {
  width: 100%;
}
.section-reggings .swiper .swiper-wrapper .swiper-slide .text-box,
.section-bratop .swiper .swiper-wrapper .swiper-slide .text-box,
.section-set .swiper .swiper-wrapper .swiper-slide .text-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 10px 50px;
  gap: 10px;
  line-height: 1;
}
.section-reggings .swiper .swiper-wrapper .swiper-slide .text-box .review-modal,
.section-bratop .swiper .swiper-wrapper .swiper-slide .text-box .review-modal,
.section-set .swiper .swiper-wrapper .swiper-slide .text-box .review-modal {
  text-align: left;
  max-width: 200px;
  color: #8e1f29;
  font-size: 13px;
  font-weight: 600;
}
.section-reggings .swiper .swiper-wrapper .swiper-slide .text-box .title,
.section-bratop .swiper .swiper-wrapper .swiper-slide .text-box .title,
.section-set .swiper .swiper-wrapper .swiper-slide .text-box .title {
  font-size: 14px;
  letter-spacing: -1px;
}
.section-reggings .swiper .swiper-wrapper .swiper-slide .text-box .price,
.section-bratop .swiper .swiper-wrapper .swiper-slide .text-box .price,
.section-set .swiper .swiper-wrapper .swiper-slide .text-box .price {
  font-size: 15px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.section-reggings .swiper .swiper-wrapper .swiper-slide .text-box .price strong,
.section-bratop .swiper .swiper-wrapper .swiper-slide .text-box .price strong,
.section-set .swiper .swiper-wrapper .swiper-slide .text-box .price strong {
  color: #8e1f29;
  font-weight: bold;
  line-height: 4px;
  text-decoration-line: none;
}
.section-reggings .swiper .swiper-wrapper .swiper-slide .text-box .price .discount,
.section-bratop .swiper .swiper-wrapper .swiper-slide .text-box .price .discount,
.section-set .swiper .swiper-wrapper .swiper-slide .text-box .price .discount {
  color: #333;
  letter-spacing: -0.03em;
  font-weight: 500;
  text-decoration-line: none;
}
.section-reggings .swiper .swiper-wrapper .swiper-slide .text-box .price .fixed,
.section-bratop .swiper .swiper-wrapper .swiper-slide .text-box .price .fixed,
.section-set .swiper .swiper-wrapper .swiper-slide .text-box .price .fixed {
  font-size: 13px;
  color: #8d8d8d;
  text-decoration-line: line-through;
}
.section-reggings .swiper .swiper-wrapper .swiper-slide .text-box .tag,
.section-bratop .swiper .swiper-wrapper .swiper-slide .text-box .tag,
.section-set .swiper .swiper-wrapper .swiper-slide .text-box .tag {
  padding-top: 5px;
}
.section-reggings .swiper .swiper-wrapper .swiper-slide .text-box .tag span,
.section-bratop .swiper .swiper-wrapper .swiper-slide .text-box .tag span,
.section-set .swiper .swiper-wrapper .swiper-slide .text-box .tag span {
  display: inline-block;
  padding: 5px 6px 4px;
  color: #8e1f28;
  font-size: 10px;
  font-weight: 500;
  border: 0.5px solid #8e1f28;
}
.section-reggings .link-more,
.section-bratop .link-more,
.section-set .link-more {
  position: absolute;
  top: 50px;
  right: 16px;
}

.section-membership,
.section-store {
  padding: 65px 20px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.section-membership .headline,
.section-store .headline {
  font-size: 26px;
  line-height: 31px;
  font-weight: 700;
  letter-spacing: -0.02em;
  color: #fff;
  text-align: left;
  padding: 0;
}
.section-membership .desc,
.section-store .desc {
  font-size: 15px;
  line-height: 1.4;
  font-weight: 400;
  letter-spacing: -0.02em;
  color: #fff;
  padding: 15px 0 30px;
}
.section-membership .btn-more,
.section-store .btn-more {
  border: 1px solid #fff;
  padding: 7px 25px 8px;
  color: #fff;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.03em;
}

.section-membership {
  background-image: url("../images/banner-member.jpg");
}

.section-store {
  margin-top: 10px;
  background-image: url("../images/banner-store.jpg");
}